@media screen and (max-width:940px){
  #main-first-sec{
    text-align: center;
    width: 85%;
  }
  #title-first-sec{
    width: 100%;
  }
  #top-title{
    text-align: center;
    font-size: 4.3rem;
  }
}