#blob-title{
  position: absolute;
  width: 8em;
  z-index: -1;
  left: 4.75em;
  top: .8em;
  display: none;
}

#main-first-sec{
  
}

#top-title{
 mix-blend-mode: difference;
 color: #FFF;
}

#sub-title-first-sec{
  mix-blend-mode: difference;
  color: #FFF;
}

@media screen and (max-width:940px){
  #main-first-sec{
    text-align: center;
    width: 85%;
  }
  #title-first-sec{
    width: 100%;
  }
  #top-title{
    text-align: center;
    font-size: 4.3rem;
  }
}