#div-1st{
  border-left: 4px solid #3629b0;
  height: 200px;
  width: 5%;
}
#div-2nd{
  border-left: 4px solid #3629b0;
  height: 200px;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#newsletter-mail::placeholder{
  padding-left: .5rem;
  font-size: 1.2rem;
}
#sub-btn{
  border: 1px solid black;
  width: 7rem;
  background-color: #3629b0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-left: 1rem;
  border-radius: 5px;
}
#footer-icon-size{
  font-size: 1.5rem;
}

@media screen and (max-width:940px){
  #footer-main-div{
    grid-template-columns: 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  #footer-title{
    text-align:center;
  }
  #label-join{
    text-align: center;
  }
  #mail-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.3rem
  }
  #sub-btn{
    height: 3rem;
  }
  #div-2nd, #div-1st{
    display: none;
  }
    #footer-1st-col, #footer-2nd-col{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin-bottom: -1.5rem;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  #footer-1st-col{
    text-decoration: underline;
  }
  #footer-2nd-col{
    gap:3.5rem;
    font-size: 1.7rem;
  }
  #cap-footer{
    display: none;
  }
}