#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red; */
  width:100%;

}

#travel-card {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 3px 13px 0 rgb(0 0 0 / 27%);
}

#price {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  color:#1d1f21;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border:1px solid;
}
 #title-price{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  color:#1d1f21;
  font-size: 1.7rem;
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
}
#card-body-one{
  text-align: center;
  vertical-align: middle;
  line-height: 137px;
  font-size: 1.3rem;
}
#card-body-two{
  text-align: center;
  vertical-align: middle;
  line-height: 91px;
  font-size: 1.3rem;
}
#card-body-three{
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  font-size: 1.3rem;
}


@media screen and (max-width:940px){
  #container{
    flex-direction: column;
    align-items: center;
  }
  #travel-card{
    margin: 1.5rem;
  }
}