#diagonal-box{
  margin-top: 4rem;
  font-size: 3rem;
  background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-11deg);
}

#content{
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(11deg);
  width: 100vw;
  position: absolute;
}

@media screen and (max-width:940px){
  #supported-companies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
  }
  #check-section{
    margin: 2rem auto;
    gap: 1.5rem;
  }
  #supported-companies p{
    font-size: 2.5rem;
  }
  #second-sec-div{
    grid-template-columns: 1fr;
  }
  #img-second-div{
    margin-top:2.5rem
  }
  #life-easier{
    width: 90%;
    font-size: 3rem;
  }
  #life-easier-desc{
    width: 90%;
    text-align: center;
  }
  #img-2nd{
    max-width: 500px;
    width: 90%;
    margin: auto;
  }
}