#footer-left, #footer-mid, #footer-right{
  margin-top: 5rem;
}

#div-1st{
  border-left: 4px solid white;
  height: 200px;
  width: 5%;
}
#div-2nd{
  border-left: 4px solid white;
  height: 200px;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#newsletter-mail::placeholder{
  padding-left: .5rem;
  font-size: 1.2rem;
}
#sub-btn{
  border: 1px solid #3629b0;
  width: 7rem;
  background-color: white;
  color: #3629b0;
  /* text-shadow: 1px 0.5px black; */
  font-weight: 500;
  display: flex;
  box-shadow: 0 3px 13px 0 rgb(0 0 0 / 27%);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-left: 1rem;
  border-radius: 5px;
}

#sub-btn:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

#footer-icon-size{
  font-size: 1.5rem;
}

/* curved footer */

.wrapper {
  position: relative;
  /* background-image: url('../assets/img/nnnoise.svg'); */
  /* z-index: -1; */
}

.custom-shape-divider-top-1668345511 {
  position: absolute;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  color: #3629b0;
  background-color: #3629b0;
  z-index: -1;
}

.custom-shape-divider-top-1668345511 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 110px;
  background-color: #3629b0;
  color: #3629b0;
}

.custom-shape-divider-top-1668345511 .shape-fill {
  fill: white;
  /* background-image: url('../assets/img/nnnoise.svg'); */
}

/* curve end */
@media screen and (max-width:940px){
  .custom-shape-divider-top-1668345511 svg{
    height: 40px;
    /* top:3rem; */
  }
  #footer-main-div{
    grid-template-columns: 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  #footer-title{
    text-align:center;
  }
  #label-join{
    text-align: center;
  }
  #mail-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.3rem
  }
  #sub-btn{
    height: 3rem;
  }
  #div-2nd, #div-1st{
    display: none;
  }
    #footer-1st-col, #footer-2nd-col{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin-bottom: -1.5rem;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  #footer-1st-col{
    text-decoration: underline;
  }
  #footer-2nd-col{
    gap:3.5rem;
    font-size: 1.7rem;
  }
  #cap-footer{
    display: none;
  }
  #footer-left, #footer-mid{
    margin-bottom:-5rem;
  }
  
}