@media screen and (max-width:940px){
  #how-grid{
    width: 80%;
    text-align: justify;
  }
  #icon-how{
    display: none;
  }
  #how-top{
    line-height: 1.7rem;
  }
  #how-top p{
    font-size: 1.3rem;
  }
}
@media (max-width:1523px){
  #icon-how{
    display: none
  }
}