.nav-login{
  top:0;
  width: 100%;
  height: 50px;
  margin-top: -.4rem;
}

.list-login{
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* *{border: 1px solid red;} */

.items-login{
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn-login{
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

.crypto-logo-text-login{
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  display: none;
  color: white;
}

.crypto-logo-text-mobile-login{
  display: none;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-right: 1.4rem;
}

.wrapper-login{
  position: relative;
}

.custom-shape-divider-bottom-1668349927-login{
  position: absolute;
  bottom: -1rem;
  top: 15px;
  margin-top: -5rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1668349927-login svg{
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  background-color: #3629b0;
}

.custom-shape-divider-bottom-1668349927-login .shape-fill-login{
  fill: white;
}

/* login form style */

.title-register{
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #3629b0;
  margin-bottom: 2rem;
}

/* *{border:1px solid red} */

.outer-register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* border: 1px solid #d3d3d3; */
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  border-radius: 24px;
  width: 25%;
  margin: auto;
  padding: 2rem;
}

.sub-title-register{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.email-main-div{
  display: flex;
  flex-direction: column;
}

.password-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-forgot{
  color: #3629b0;
}

.email-label, .password-label{
  font-weight: 500;
  margin-bottom: .2rem;
}

.password-label{
  margin-top:1.5rem
}

.email-input, .password-input{
  border: 1px solid rgb(194, 194, 194);
  width: 25rem;
  height: 3rem;
  border-radius: 6px 6px;
}

.input-checkbox{
  display: flex;
  flex-direction: row; 
  margin-top: 1rem;
}

.checkbox-signed-in{
  vertical-align: middle;
  
}

.text-signed-in{
  margin-left: .5rem;
  font-weight: 500;
}

.create-acc-button {
  background-color: #3629b0;
  color: white;
  width: 100%;
  border-radius: 6px 6px;
  height: 3rem;
  margin-top: 1rem;
  font-weight: 500;
}

.already-have-account{
  color: #3629b0;
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

/* end login style */

@media screen and (max-width:940px){
  .list-login{
  flex-direction: column;
  height: auto;
  background-color: #3629b0;
  position: absolute;
  top: 0;
  right: 0;
  width: 68%;
  border-radius: 14px 14px;
  }
  .crypto-logo-text-login{
    display: block;
    color: white;
    padding-top: .4rem;
  }
  .crypto-logo-text-mobile-login{
    display: none;
  }
  .items-login:nth-child(1){
    border-top: 1px solid rgb(255, 255, 255, 0.555);
  }
  .items-login{
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn-login{
    display: block;
  }
}