.footer {
  background-color: #1f1f1f;
  color: #f2e8de;
  padding: 1rem 0;
  /* clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%); */
}

.title-footer{
  font-size: 2.3rem;
  font-weight: bolder;
  margin-right: 2rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding: 1rem;
}

.footer .col {
  display: flex;
  flex-direction: column;
}

.footer .bar {
  width: 30px;
  border-bottom: 4px solid #f2e8de;
  margin: 1rem 0;
}

.col-follow{
  display: flex;
  width: 300px;
  /* border: 1px solid blue; */
}

.follow-us{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

.footer a {
  font-size: 1rem;
}

.footer .icon {
  color: #f2e8de;
  margin-right: 4px;
}

.footer h1{
  font-size: 35px;
}

.footer h5{
  margin-top: 2rem;
}

.title-class{
  font-size: 2rem;
}

.footer .col-follow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-follow{
  font-size: 2rem;
}

@media screen and (max-width: 940px) {
  .footer .container {
      grid-template-columns: repeat(2, 1fr);
  }
  .footer .col-1{
      display: none;
  }
  .col-follow{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 80%;
  }

  .footer .title-follow{
    display: none;
  }

  .follow-us{
    display: grid;
    grid-template-columns: 1fr;
  }
  /* @media screen and (max-width: 478px) {
      .footer .container{
          grid-template-columns: 1fr;
      }
  } */
}

@media screen and (min-width:941px){
  .footer{
    background-color: #1f1f1f;
    color: #f2e8de;
  }
}